<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Minha Lista de tarefas</title>
    <link rel="stylesheet" href="{% static 'lista/lista.css' %}">
</head>
<body>

    <h1>Gerenciador de tarefas web</h1>

    {% for tarefa in minhas_tarefas %}     
        <div class="tarefas {% if tarefa.concluida %}concluida{% endif %}">
            <h2>{{ tarefa.titulo }}</h2>
            <p>{{ tarefa.descricao }}</p>
            <h2><a href="{% url 'detalhe_tarefa' tarefa.id %}"></a></h2>
            <small>Criada em: {{ tarefa.data_criacao }}</small>
        </div>
    {% empty %}
        <p>Nenhuma tarefa cadastrada ainda. Adicione algumas no <a href="/admin/">admin</a>!</p>
    {% endfor %}
</body>
</html>